<!DOCTYPE html>

<html>
  <head>
    <title>About</title>
    <linK rel="icon" href="../../public/img/favicon.png">
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <div class="main-content">
      {{> header}}
      <p>Node Practice w/ Web Servers</p>
      <img class="portrait" src="img/gon.jpg" />
    </div>
    {{> footer }}
  </body>
</html>